<%- include("../partials/header") %>
  <div class="container">
    <div class="search-form">
      <h2 class="text-center">Buscar paciente</h2>
      <form id="searchForm" action="/pacientes/buscar-paciente" method="GET">
        <div class="form-group">
          <label for="searchParameter">Id Paciente / DPI</label>
          <input type="number" class="form-control" id="searchId" name="PacienteIdDPI"
            placeholder="Ingrese Id Paciente o DPI" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
      </form>
    </div>

    <!-- Tabla para Listar Pacientes -->
    <div id="listContainer" class="mt-5">
      <h2>Lista de Pacientes</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>DPI</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="patientTableBody">
          <!-- Filas de pacientes se insertarán aquí -->
          <% if(Pacientes) { %>
            <tr>
              <% Pacientes.forEach(paciente=> { %>
                <td>
                  <%= paciente.Id_paciente %>
                </td>
                <td>
                  <%= paciente.Nombres %>
                </td>
                <td>
                  <%= paciente.Apellidos %>
                </td>
                <td>
                  <%= paciente.DPI %>
                </td>
                <td>
                  <a href="/pacientes/<%= paciente.Id_paciente %>/consulta/new" class="btn btn-primary"
                    title="Nueva consulta">
                    <i class="bi bi-file-earmark-plus-fill"></i></a>
                  <a href="/pacientes/<%= paciente.Id_paciente %>" class="btn btn-secondary" title="Editar paciente">
                    <i class="bi bi-pencil-square"></i></a>
                  <a href="/pacientes/<%= paciente.Id_paciente %>/consulta" class="btn btn-info" title="Consultas">
                    <i class="bi bi-list-columns-reverse"></i></a>
                  <form class="delete-form d-inline-block"
                    action="/pacientes/<%= paciente.Id_paciente %>?_method=DELETE" method="POST">
                    <!-- <a href="" class="btn btn-danger"><i class="bi bi-trash3"></i></a> -->
                    <button type="submit" class="btn btn-danger" title="Eliminar paciente"><i
                        class="bi bi-trash3"></i></button>
                  </form>
                </td>
            </tr>

            <% }) %>
              <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include("../partials/footer") %>