<%- include("../partials/header") %>
  <div class="container">
    <div class="search-form">
      <h2 class="text-center">Buscar paciente</h2>
      <form id="searchForm">
        <div class="form-group">
          <label for="searchParameter">Id Paciente / DPI</label>
          <input type="number" class="form-control" id="searchId" placeholder="Ingrese Id Paciente o DPI" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
      </form>
      <div id="searchResult" class="mt-4"></div>
    </div>

    <!-- Tabla para Listar Pacientes -->
    <div id="listContainer" class="mt-5">
      <h2>Lista de Pacientes</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>DPI</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="patientTableBody">
          <!-- Filas de pacientes se insertarán aquí -->
          <% if(Pacientes) { %>
            <tr>
              <% Pacientes.forEach(paciente=> { %>
                <td>
                  <%= paciente.Id_paciente %>
                </td>
                <td>
                  <%= paciente.Nombres %>
                </td>
                <td>
                  <%= paciente.Apellidos %>
                </td>
                <td>
                  <%= paciente.DPI %>
                </td>
                <td>
                  <a href="/pacientes/<%= paciente.Id_paciente %>/consulta/new" class="btn btn-primary"
                    title="Nueva consulta">
                    <i class="bi bi-file-earmark-plus-fill"></i></a>
                  <a href="/pacientes/<%= paciente.Id_paciente %>" class="btn btn-secondary" title="Editar paciente">
                    <i class="bi bi-pencil-square"></i></a>
                  <!-- <form class="delete-form" action="/pacientes/<%= paciente.Id_paciente %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                  </form> -->
                </td>
            </tr>

            <% }) %>
              <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include("../partials/footer") %>