<%- include("../partials/header") %>

  <div class="container">
    <h1 class="mt-5">Gestión de Paciente</h1>

    <!-- Formulario para Crear/Actualizar Paciente -->
    <div id="formContainer" class="mt-5">
      <h2 id="formTitle">Editar Paciente</h2>
      <form id="pacienteForm" action="/pacientes/<%= Paciente.Id_paciente %>?_method=PUT" method="POST">
        <input type="hidden" id="idPaciente" name="idPaciente">

        <!-- Datos Personales -->
        <div class="row">
          <div class="form-group col">
            <label for="nombres">Nombres</label>
            <input type="text" class="form-control" id="nombres" name="nombres" value="<%= Paciente.Nombres %>">
            <!-- <input type="text" class="form-control" id="nombres" name="nombres"> -->
          </div>
          <div class="form-group col">
            <label for="apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= Paciente.Apellidos %>">
          </div>
          <div class="form-group col">
            <label for="apellidoDeCasada">Apellido de Casada</label>
            <input type="text" class="form-control" id="apellidoDeCasada" name="apellidoDeCasada"
              value="<%= Paciente.Apellidos_Casada %>">
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento"
              value="<%= Paciente.Fecha_Nacimiento %>">
          </div>
          <div class="form-group col">
            <label for="dpi">DPI</label>
            <input type="text" class="form-control" id="dpi" name="dpi" value="<%= Paciente.DPI %>">
          </div>
          <div class="form-group col">
            <label for="No_Registro">No. Registro</label>
            <input type="text" class="form-control" name="No_Registro" value="<%= Paciente.No_Registro %>">
          </div>
        </div>

        <div class="row">
          <div class="form-group col">
            <label for="telCel">Tel/Cel</label>
            <input type="text" class="form-control" id="telCel" name="telCel" value="<%= Paciente.Celular %>">
          </div>
          <div class="form-group col">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= Paciente.Email %>">
          </div>
          <div class="form-group col">
            <label for="profesion">Profesión y Oficio</label>
            <input type="text" class="form-control" id="profesion" name="profesion"
              value="<%= Paciente.Profesion_u_oficio %>">
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input type="text" class="form-control" id="direccion" name="direccion" value="<%= Paciente.Direccion %>">
        </div>

        <!-- Contactos de Emergencia -->
        <div class="row">
          <div class="form-group col">
            <label for="emergencyContact1">Contacto de Emergencia 1</label>
            <input type="text" class="form-control" id="emergencyContact1" name="emergencyContact1"
              value="<%= Paciente.Contacto_emergencia1 %>">
          </div>
          <div class="form-group col">
            <label for="emergencyContact1Tel">Tel/Cel de Emergencia 1</label>
            <input type="text" class="form-control" id="emergencyContact1Tel" name="emergencyContact1Tel"
              value="<%= Paciente.Telefono_emergencia1 %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="emergencyContact2">Contacto de Emergencia 2</label>
            <input type="text" class="form-control" id="emergencyContact2" name="emergencyContact2"
              value="<%= Paciente.Contacto_emergencia2 %>">
          </div>
          <div class="form-group col">
            <label for="emergencyContact2Tel">Tel/Cel de Emergencia 2</label>
            <input type="text" class="form-control" id="emergencyContact2Tel" name="emergencyContact2Tel"
              value="<%= Paciente.Telefono_emergencia2 %>">
          </div>
        </div>

        <!-- Datos de Facturación -->
        <div class="row">
          <div class="form-group col">
            <label for="facturacionNombre">Nombre de Facturación</label>
            <input type="text" class="form-control" id="facturacionNombre" name="facturacionNombre"
              value="<%= Paciente.Nombre_Facturacion %>">
          </div>
          <div class="form-group col">
            <label for="facturacionNit">NIT</label>
            <input type="text" class="form-control" id="facturacionNit" name="facturacionNit"
              value="<%= Paciente.NIT %>">
          </div>
        </div>
        <div class="form-group">
          <label for="facturacionDireccion">Dirección de Facturación</label>
          <input type="text" class="form-control" id="facturacionDireccion" name="facturacionDireccion"
            value="<%= Paciente.DIRECION_FACTURACION %>">
        </div>

        <!-- Información de Asegurado -->
        <div class="row">
          <div class="form-group col">
            <label for="seguroAfiliado">Seguro Afiliado</label>
            <input type="text" class="form-control" id="seguroAfiliado" name="seguroAfiliado"
              value="<%= Paciente.Nombre_aseguradora %>">
          </div>
          <div class="form-group col">
            <label for="poliza">Póliza</label>
            <input type="text" class="form-control" id="poliza" name="poliza" value="<%= Paciente.Poliza %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="idAsegurado">ID Asegurado</label>
            <input type="text" class="form-control" id="idAsegurado" name="idAsegurado"
              value="<%= Paciente.Id_asegurado %>">
          </div>
          <div class="form-group col">
            <label for="noCarnet">No. Carnet</label>
            <input type="text" class="form-control" id="noCarnet" name="noCarnet" value="<%= Paciente.No_carnet %>">
          </div>
        </div>

        <!-- Historial Clínico -->
        <div class="form-group">
          <label>Historial Clínico</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="diabetes" name="diabetes">
            <label class="form-check-label" for="diabetes">Diabetes</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="presionAltaBaja" name="presionAltaBaja">
            <label class="form-check-label" for="presionAltaBaja">Presión Alta/Baja</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="enfermedadesCardiacas" name="enfermedadesCardiacas">
            <label class="form-check-label" for="enfermedadesCardiacas">Enfermedades Cardíacas</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="dolorDeCabeza" name="dolorDeCabeza">
            <label class="form-check-label" for="dolorDeCabeza">Dolor de Cabeza Severo</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="asma" name="asma">
            <label class="form-check-label" for="asma">Asma</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="fracturas" name="fracturas">
            <label class="form-check-label" for="fracturas">Fracturas</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="convulsiones" name="convulsiones">
            <label class="form-check-label" for="convulsiones">Convulsiones</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="problemasTorax" name="problemasTorax">
            <label class="form-check-label" for="problemasTorax">Problemas en Tórax, Corazón, Pulmones y
              Abdomen</label>
          </div>
          <br>
          <div class="form-group">
            <label for="especificar">Especifique</label>
            <textarea class="form-control" id="especificar" name="especificar"><%= Paciente.Especifique %></textarea>
          </div>
          <div class="form-group">
            <label for="antecedentesImportantes">Antecedentes Importantes</label>
            <textarea class="form-control" id="antecedentesImportantes"
              name="antecedentesImportantes"><%= Paciente.Antecedente_importante %></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/pacientes/" class="btn btn-warning" id="cancelUpdate">Cancelar</a>
      </form>
    </div>


  </div>

  <!-- <script src="/js/formulario-paciente.js"></script> -->
  <%- include("../partials/footer") %>