<%- include("../partials/header") %>
  <div class="container">


    <div class="search-form">
      <h2 class="text-center">Buscar Consulta</h2>
      <form id="searchForm">
        <div class="form-group">
          <label for="searchParameter">Id Consulta / DPI</label>
          <input type="number" class="form-control" id="searchId" placeholder="Ingrese Id Consulta o DPI" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Buscar</button>
      </form>
      <div id="searchResult" class="mt-4"></div>
    </div>

    <!-- Tabla para Listar Consultas -->
    <div id="listContainer" class="mt-5">
      <h2>Lista de Consultas</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Nombre y apellido</th>
            <th>Diagnostico</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="patientTableBody">
          <!-- Filas de consultas se insertarán aquí -->
          <% if(Consultas) { %>
            <tr>
              <% Consultas.forEach(consulta=> { %>
                <td>
                  <%= consulta.FECHA_CONSULTA %>
                </td>
                <td>
                  <%= consulta.PACIENTE %>
                </td>
                <td>
                  <%= consulta.Diagnostico %>
                </td>
                <td>
                  <a href="/pacientes/<%= PacienteId %>/consulta/<%= consulta.Id_consulta %>" class="btn btn-secondary"
                    title="Consultas">
                    <i class="bi bi-pencil-square"></i></a>
                  <form class="delete-form d-inline-block"
                    action="/pacientes/<%= PacienteId %>/consulta/<%= consulta.Id_consulta %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn btn-danger"><i class="bi bi-trash3"></i></button>
                  </form>
                </td>
            </tr>

            <% }) %>
              <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include("../partials/footer") %>