<%- include("../partials/header") %>

  <div class="container">
    <h1 class="mt-5">Gestión de Consulta</h1>

    <!-- Formulario para Crear/Actualizar Consulta -->
    <div id="formContainer" class="mt-5">
      <h2 id="formTitle">Editar Consulta</h2>

      <form id="registrationForm"
        action="/pacientes/<%= Consulta.Id_paciente %>/consulta/<%= Consulta.Id_consulta %>?_method=PUT" method="POST">
        <div class="row">
          <div class="form-group col">
            <!-- <p>
              <b>Nombres:</b>
              <%= Consulta.Nombres %><br>
                <b>Apellidos:</b>
                <%= Consulta.Apellidos %><br>
                  <b>DPI:</b>
                  <%= Consulta.DPI %><br>
                    <b>Celular:</b>
                    <%= Consulta.Celular %><br>
                      <b>Email:</b>
                      <%= Consulta.Email %><br>
                        <b>Direccion:</b>
                        <%= Consulta.Direccion %><br>
                          <b>Profesion u oficio:</b>
                          <%= Consulta.Profesion %><br>
            </p> -->
          </div>
        </div>


        <div class="section-title">
          <h2>Examen Oftalmológico</h2>
        </div>

        <!-- Historia Clinica -->
        <div class="form-group">
          <label for="historiaClinica">Historia Clínica</label>
          <textarea class="form-control" name="historiaClinica" placeholder="Ingrese la historia clínica"
            value=""><%= Consulta.Historia_clinica %></textarea>
        </div>

        <!-- Antecedentes -->
        <div class="form-group">
          <label for="antecedentes">Antecedentes</label>
          <textarea class="form-control" name="antecedentes"
            placeholder="Ingrese antecedentes relevantes"><%= Consulta.Antecedentes %></textarea>
        </div>

        <!-- Ojos Izquierdo y derecho -->
        <div class="row">
          <!-- Ojo Izquierdo -->
          <div class="col border-left border-primary rounded">

            <h3>Ojo Izquierdo</h3>
            <div class="form-group">
              <label for="agudezaVisualScOjoIzquierdo">Agudeza Visual SC</label>
              <input type="number" step="0.01" class="form-control" name="Agudeza_sc_OjoIzquierdo" min="0.00"
                max="999.99" placeholder="Sin Corrección" value="<%= Consulta.Agudeza_sc_OjoIzquierdo %>">
            </div>
            <div class="form-group">
              <label for="agudezaVisualOcOjoIzquierdo">Agudeza Visual CC</label>
              <input type="number" step="0.01" class="form-control" name="Agudeza_cc_OjoIzquierdo" min="0.00"
                max="999.99" placeholder="Con Corrección" value="<%= Consulta.Agudeza_cc_OjoIzquierdo %>">
            </div>
            <div class="form-group">
              <label for="tensionOcularOjoIzquierdo">Tensión Ocular</label>
              <input type="number" step="0.01" class="form-control" name="TensionOcular_OjoIzquierdo" min="0.00"
                max="999.99" placeholder="Medida en mmHg" value="<%= Consulta.TensionOcular_OjoIzquierdo %>">
            </div>
          </div>

          <!-- Ojo Derecho -->
          <div class="col border-left border-info rounded">
            <h3>Ojo Derecho</h3>
            <div class="form-group">
              <label for="agudezaVisualScOjoDerecho">Agudeza Visual SC</label>
              <input type="number" step="0.01" class="form-control" name="Agudeza_sc_OjoDerecho" min="0.00" max="999.99"
                placeholder="Sin Corrección" value="<%= Consulta.Agudeza_sc_OjoDerecho %>">
            </div>
            <div class="form-group">
              <label for="agudezaVisualOcOjoDerecho">Agudeza Visual CC</label>
              <input type="number" step="0.01" class="form-control" name="Agudeza_cc_OjoDerecho" min="0.00" max="999.99"
                placeholder="Con Corrección" value="<%= Consulta.Agudeza_cc_OjoDerecho %>">
            </div>
            <div class="form-group">
              <label for="tensionOcularOjoDerecho">Tensión Ocular</label>
              <input type="number" step="0.01" class="form-control" name="TensionOcular_OjoDerecho" min="0.00"
                max="999.99" placeholder="Medida en mmHg" value="<%= Consulta.TensionOcular_OjoDerecho %>">
            </div>

          </div>
        </div>

        <!-- M, K, and W Values -->

        <!-- M Values -->
        <div class="section-title">
          <h4>M Values</h4>
        </div>
        <div class="row">
          <div class="form-group col border-left border-primary rounded">
            <label for="mSph">SPH</label>
            <input type="number" step="0.01" class="form-control" name="M_SPH_OjoIzquierdo" placeholder="Esfera"
              min="0.00" max="999.99" value="<%= Consulta.M_SPH_OjoIzquierdo %>">
          </div>
          <div class="form-group col">
            <label for="mCyl">CYL</label>
            <input type="number" step="0.01" class="form-control" name="M_CYS_OjoIzquierdo" placeholder="Cilindro"
              min="0.00" max="999.99" value="<%= Consulta.M_CYS_OjoIzquierdo %>">
          </div>
          <div class="form-group col">
            <label for="mAxs">AXS</label>
            <input type="number" step="0.01" class="form-control" name="M_AXS_OjoIzquierdo" placeholder="Eje" min="0.00"
              max="999.99" value="<%= Consulta.M_AXS_OjoIzquierdo %>">
          </div>
          <div class="form-group col border-left border-info rounded">
            <label for="mSph">SPH</label>
            <input type="number" step="0.01" class="form-control" name="M_SPH_OjoDerecho" placeholder="Esfera"
              min="0.00" max="999.99" value="<%= Consulta.M_SPH_OjoDerecho %>">
          </div>
          <div class="form-group col">
            <label for="mCyl">CYL</label>
            <input type="number" step="0.01" class="form-control" name="M_CYS_OjoDerecho" placeholder="Cilindro"
              min="0.00" max="999.99" value="<%= Consulta.M_CYS_OjoDerecho %>">
          </div>
          <div class="form-group col">
            <label for="mAxs">AXS</label>
            <input type="number" step="0.01" class="form-control" name="M_AXS_OjoDerecho" placeholder="Eje" min="0.00"
              max="999.99" value="<%= Consulta.M_AXS_OjoDerecho %>">
          </div>
        </div>

        <!-- K Values -->
        <div class="section-title">
          <h4>K Values</h4>
        </div>
        <div class="row">
          <!-- Ojo Izquierdo -->
          <div class="col border-left border-primary rounded">
            <div class="row">
              <div class="form-group col">
                <label for="k1">K1</label>
                <input type="number" step="0.01" class="form-control" name="K1_OjoIzquierdo" placeholder="K1" min="0.00"
                  max="999.99" value="<%= Consulta.K1_OjoIzquierdo %>">
              </div>
              <div class="form-group col">
                <label for="mAxs">K1 AXS</label>
                <input type="number" step="0.01" class="form-control" name="K1_eje_OjoIzquierdo" placeholder="K1 Eje"
                  min="0.00" max="999.99" value="<%= Consulta.K1_eje_OjoIzquierdo %>">
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="k2">K2</label>
                <input type="number" step="0.01" class="form-control" name="K2_OjoIzquierdo" placeholder="K2" min="0.00"
                  max="999.99" value="<%= Consulta.K2_OjoIzquierdo %>">
              </div>
              <div class="form-group col">
                <label for="mAxs">K2 AXS</label>
                <input type="number" step="0.01" class="form-control" name="K2_eje_OjoIzquierdo" placeholder="K2 Eje"
                  min="0.00" max="999.99" value="<%= Consulta.K2_eje_OjoIzquierdo %>">
              </div>
            </div>
          </div>

          <!-- Ojo Derecho -->
          <div class="col border-left border-primary rounded">
            <div class="row">
              <div class="form-group col">
                <label for="k1">K1</label>
                <input type="number" step="0.01" class="form-control" name="K1_OjoDerecho" placeholder="K1" min="0.00"
                  max="999.99" value="<%= Consulta.K1_OjoDerecho %>">
              </div>
              <div class="form-group col">
                <label for="mAxs">K1 AXS</label>
                <input type="number" step="0.01" class="form-control" name="k1_eje_OjoDerecho" placeholder="K1 Eje"
                  min="0.00" max="999.99" value="<%= Consulta.k1_eje_OjoDerecho %>">
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="k2">K2</label>
                <input type="number" step="0.01" class="form-control" name="K2_OjoDerecho" placeholder="K2" min="0.00"
                  max="999.99" value="<%= Consulta.K2_OjoDerecho %>">
              </div>
              <div class="form-group col">
                <label for="mAxs">K2 AXS</label>
                <input type="number" step="0.01" class="form-control" name="K2_eje_OjoDerecho" placeholder="K2 Eje"
                  min="0.00" max="999.99" value="<%= Consulta.K2_eje_OjoDerecho %>">
              </div>
            </div>
          </div>
        </div>

        <!-- W Values -->
        <div class="section-title">
          <h4>W Values</h4>
        </div>
        <div class="row">
          <div class="form-group col border-left border-primary rounded">
            <label for="wSph">SPH</label>
            <input type="number" step="0.01" class="form-control" name="W_SPH_OjoIzquierdo" placeholder="W Esfera"
              min="0.00" max="999.99" value="<%= Consulta.W_SPH_OjoIzquierdo %>">
          </div>
          <div class="form-group col">
            <label for="wCyl">CYL</label>
            <input type="number" step="0.01" class="form-control" name="W_CYL_OjoIzquierdo" placeholder="W Cilindro"
              min="0.00" max="999.99" value="<%= Consulta.W_CYL_OjoIzquierdo %>">
          </div>
          <div class="form-group col">
            <label for="wAxs">AXS</label>
            <input type="number" step="0.01" class="form-control" name="W_AXS_OjoIzquierdo" placeholder="W Eje"
              min="0.00" max="999.99" value="<%= Consulta.W_AXS_OjoIzquierdo %>">
          </div>
          <div class="form-group col border-left border-info rounded">
            <label for="wSph">SPH</label>
            <input type="number" step="0.01" class="form-control" name="W_SPH_OjoDerecho" placeholder="W Esfera"
              min="0.00" max="999.99" value="<%= Consulta.W_SPH_OjoDerecho %>">
          </div>
          <div class="form-group col">
            <label for="wCyl">CYL</label>
            <input type="number" step="0.01" class="form-control" name="W_CYL_OjoDerecho" placeholder="W Cilindro"
              min="0.00" max="999.99" value="<%= Consulta.W_CYL_OjoDerecho %>">
          </div>
          <div class="form-group col">
            <label for="wAxs">AXS</label>
            <input type="number" step="0.01" class="form-control" name="W_AXS_OjoDerecho" placeholder="W Eje" min="0.00"
              max="999.99" value="<%= Consulta.W_AXS_OjoDerecho %>">
          </div>
        </div>



        <!-- Diagnostico y Tratamiento -->
        <div class="form-group">
          <label for="diagnostico">Diagnóstico</label>
          <textarea name="diagnostico" class="form-control"
            placeholder="Diagnóstico del examen"><%= Consulta.diagnostico %>"</textarea>
        </div>
        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <textarea name="tratamiento" class="form-control"
            placeholder="Tratamiento sugerido"><%= Consulta.tratamiento %>"</textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </div>
    </form>
  </div>


  </div>

  <!-- <script src="/js/formulario-paciente.js"></script> -->
  <%- include("../partials/footer") %>